{% stylesheet %} .cta-example{ position:relative; } .cta-example_content{ position:absolute; top:50%; left:50%; transform:translate(-50%,50%); background:#fffl; } {% endstylesheet %}
<section>

    <div class="cta-example_img">
        {{ 'lifestyle-2' | placeholder_svg_tag }}
    </div>

    <div class="cta-example_content">
        <h2>My Call-to-Action</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illo tempore ullam libero eligendi amet rerum quibusdam beatae enim ad magnam et blanditiis, iure earum dolorem temporibus eaque, obcaecati aliquam animi?</p>
        <a href="#">Learn More</a>
    </div>

</section>